<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/button.css}" rel="stylesheet">
    <link th:href="@{/css/body.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{./favicon.ico}">
    <title>Reset Password Form</title>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="rounded card p-4 shadow-sm mx-auto" style="max-width: 500px;">
            <div class="text-center mb-3">
                <h4 class="display-4">Reset Password</h4>
            </div>
            <form th:action="@{/reset-password(token=${token})}" method="post">
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newPassword"
                           th:name="newPassword" th:value="${newPassword}" data-cy="newPassword">
                    <div id="newPasswordErrorMessage" th:text="${newPasswordErrorMessage}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="retypePassword" class="form-label">Retype Password</label>
                    <input type="password" class="form-control" id="retypePassword"
                           th:name="retypePassword" th:value="${retypePassword}" data-cy="retypePassword">
                    <div id="retypePasswordErrorMessage" th:text="${retypePasswordErrorMessage}" class="invalid-feedback"></div>
                </div>
                <div th:if="${errorMessage != null and #strings.trim(errorMessage) != ''}" class="alert alert-danger mt-3" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
            </form>
        </div>
    </div>
<script>
    window.onload = function() {
        const inputFields = ["newPassword", "retypePassword"];
        inputFields.forEach((inputField) => {
            if (document.getElementById(inputField + "ErrorMessage").textContent !== "") {
                document.getElementById(inputField).classList.add("is-invalid");
            }
        })
    }
</script>
</body>
</html>