<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Update Password</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <link th:href="@{/css/body.css}" rel="stylesheet">
        <link th:href="@{/css/button.css}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" th:href="@{./favicon.ico}">
    </head>
    <body class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="rounded card p-4 shadow-sm mx-auto" style="max-width: 500px;">
            <div class="text-center mb-3">
                <h4 class="display-4">Update Password</h4>
            </div>
            <form th:action="@{/update-password}" method="post">
                <div class="mb-3">
                    <label class="mt-3" for="currentPassword">Old Password</label>
                    <input type="password" class="form-control" id="currentPassword"
                           th:name="currentPassword">
                    <div id="currentPasswordErrorMessage" th:text="${currentPasswordErrorMessage}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="mt-1" for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword"
                           th:name="newPassword">
                    <div id="newPasswordErrorMessage" th:text="${newPasswordErrorMessage}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="mt-1" for="confirmPassword">Retype New Password</label>
                    <input type="password" class="form-control" id="confirmPassword"
                           th:name="confirmPassword">
                    <div id="confirmPasswordErrorMessage" th:text="${confirmPasswordErrorMessage}" class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>
            </form>
            <a class="btn btn-secondary w-100 mt-1" th:href="@{/edit-profile}" role="button">Cancel</a>
        </div>
    </div>
    <script>
        window.onload = function() {
            const inputFields = ["currentPassword", "newPassword", "confirmPassword"];
            inputFields.forEach((inputField) => {
                if (document.getElementById(inputField + "ErrorMessage").textContent !== "") {
                    document.getElementById(inputField).classList.add("is-invalid");
                }
            })
        };
    </script>
    </body>
</html>